{%- if page.image -%} 
{%- assign f = page.image | split: '.' -%} 
{%- assign img_path = site.baseurl | append: "/assets/images/responsive/" -%}
  <picture>
    <source media="(max-width: 576px)" 
    srcset="
      {{ img_path | append: f[0] | append: relative_url }}-sm-1x.webp 1x,
      {{ img_path | append: f[0] | append: relative_url }}-sm-2x.webp 2x
    "
    type="image/webp" 
    >
    <source media="(max-width: 576px)" 
    srcset="
      {{ img_path | append: f[0] | append: relative_url }}-sm-1x.jpeg 1x,
      {{ img_path | append: f[0] | append: relative_url }}-sm-2x.jpeg 2x
    "
    type="image/jpeg" 
    >
    <source media="(max-width: 768px)" 
    srcset="
    {{ img_path | append: f[0] | append: relative_url }}-md-1x.webp 1x,
    {{ img_path | append: f[0] | append: relative_url }}-md-2x.webp 2x
    "
    type="image/webp" 
    >
    <source media="(max-width: 768px)" 
    srcset="
    {{ img_path | append: f[0] | append: relative_url }}-md-1x.jpeg 1x,
    {{ img_path | append: f[0] | append: relative_url }}-md-2x.jpeg 2x
    "
    type="image/jpeg" 
    >
    <source media="(min-width: 769px)" 
    srcset="
    {{ img_path | append: f[0] | append: relative_url }}-xl-1x.webp 1x,
    {{ img_path | append: f[0] | append: relative_url }}-xl-2x.webp 2x
    "
    type="image/webp" 
    >
    <source media="(min-width: 769px)" 
    srcset="
    {{ img_path | append: f[0] | append: relative_url }}-xl-1x.jpeg 1x,
    {{ img_path | append: f[0] | append: relative_url }}-xl-2x.jpeg 2x
    "
    type="image/jpeg" 
    >
    <img
      srcset="
        {{ img_path | append: f[0] | append: relative_url }}-sm-1x.jpeg 576w,
        {{ img_path | append: f[0] | append: relative_url }}-md-1x.jpeg 768w,
        {{ img_path | append: f[0] | append: relative_url }}-xl-1x.jpeg 1440w"
      src="{{ img_path | append: f[0] | append: relative_url }}-md-1x.jpeg" 
      alt="{{ page.title }}" 
      class="figure-img rounded"
      type="image/jpeg" 
      >
  </picture>
{%- endif -%}