$img-path: "/assets/images/normal/";
$bg-img: "bg";
$random-img-xl: "https://picsum.photos/1200/827/?random";
$random-img-lg: "https://picsum.photos/1024/760/?random";
$random-img-md: "https://picsum.photos/768/530/?random";
$random-img-sm: "https://picsum.photos/576/397/?random";

.jumbotron h1,
.jumbotron.lead,
.jumbotron.btn {
  color: white;
  text-shadow: 1px 1px $gray-800;
}

.jumbotron-bg {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url($img-path+$bg-img+".jpg");
}

.random-bg {
  @extend .jumbotron-bg;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url($random-img-xl);
  @media (max-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url($random-img-lg);
  }
  @media (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url($random-img-md);
  }
  @media (max-width: 576px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url($random-img-sm);
  }
}
